[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.2.0"
requests = "*"
tensorflow = "*"
matplotlib = "*"
scikit-learn = "==0.24.1"

[dev-packages]

[requires]
python_version = "3.8"
